@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["messege"]</h3>

<p>@ViewData["E-mail"]</p>

<p>Use this page to detail your site's privacy policy.</p>
<p>eu aqui </p>

<strong>More Infomation</strong> <a href="http://errou.com.br">Errou.com.br</a>
